body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 20px;
	min-width: 300px;
}

header {
	text-align: center;
	margin-bottom: 20px;
}

header h1 {
	font-size: 24px;
	margin: 0;
}

header p {
	font-size: 14px;
	color: #888;
}

main {
	display: flex;
	justify-content: center;
}

table {
	border-collapse: collapse;
	width: 100%;
	max-width: 300px;
}

td {
	padding: 10px;
	border: 1px solid #ccc;
	text-align: center;
}

label {
	display: flex;
	align-items: center;
}

.checkbox-label {
	display: inline-block;
	cursor: pointer;
}

.label-text {
	padding-left: 10px;
	vertical-align: middle;
}